body {
  font-family: 'Roboto', sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 2px solid red;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* ---------HEADER-------- */

.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
  column-gap: 50px;
}

.header .container {
  display: flex;
  align-items: center;
}

.header-connect {
  margin-left: auto;
}

.header-contacts {
  display: flex;
}

.header-logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
  margin-right: 93px;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.header-link:hover,
.header-link:focus {
  color: #2196f3;
}

.header-email {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  margin-left: 50px;
}

/* ---------HERO--------- */

.hero {
  background: #757575;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-unique {
  max-width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 auto;
  margin-bottom: 30px;
}

.hero-btn {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  display: block;
  margin: 0 auto;
  min-width: 216px;
  height: 50px;
  border-radius: 4px;
  border-color: transparent;
}

/* ---------ABOUT--------- */

.advantages {
  padding-bottom: 0;
}

.advantages-list {
  display: flex;
  column-gap: 30px;
}

.advantages-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}

.advantages-descr {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  border: 1px solid;
}

/* ---------ACTIVITIES--------- */

.activities-list {
  display: flex;
  column-gap: 30px;
}

.activities-main {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

/* ---------TEAM--------- */

.team {
  background: #f5f4fa;
}

.team-main {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  column-gap: 30px;
}

.team-item {
  background: #ffffff;
  width: calc((100% - 90px) / 4);
}

.teams-text {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 5px;
  padding-right: 5px;
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}

.team-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

/* ---------FOOTER--------- */

.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.footer-links {
  margin-top: 20px;
}

.footer-links-item {
  margin-bottom: 9px;
}

.footer-adress-link {
  color: #ffffff;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-email-link {
  color: rgba(255, 255, 255, 0.6);
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-tel-link {
  color: rgba(255, 255, 255, 0.6);
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* ---------PORTFOLIO--------- */

.portfolio-filter {
  margin-bottom: 50px;
  display: flex;
  column-gap: 8px;
  justify-content: center;
}

.portfolio-filter-button {
  font-family: inherit;
  align-items: center;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background: #f5f4fa;
  border-radius: 4px;
  border-color: transparent;
  padding: 6px 22px;
}

.portfolio-filter-button:hover,
.portfolio-filter-button:focus {
  background: #2196f3;
  color: #ffffff;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-item {
  width: calc((100% - 60px) / 3);
}

.portfolio-text {
  width: 370px;
  height: 110px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border: 1px solid #eeeeee;
}

.portfolio-item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
}

.portfolio-item-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}
